// ./style/dart-sass/sass ./style/style.scss ./style/style.css --watch

@import 'fonts';
@import 'overlay';
@import 'media';

$square-size: 10px;
body{
    display:flex;
    justify-content: center;
    align-items: center;

    height:100vh;

    overflow: hidden;
    margin:0;
    background: linear-gradient(rgb(25, 232, 84), rgb(25, 201, 232));
    background-position: center center;
    background-size: 100% 100vh;
}


.square{
    height: $square-size;
    width: $square-size;

    position:relative;

    background-color: rgb(201, 0, 0);
    outline: solid 2px rgb(1, 1, 1);

    border-radius: 2px;

    transition-property: left top;
    transition-timing-function: linear;
}

.area{   

    background-color: rgb(255, 252, 157);
    outline: solid 10px rgb(0, 0, 0);
}